SPRING_DATASOURCE_URL=your-database-url
SPRING_DATASOURCE_USERNAME=your-database-username
SPRING_DATASOURCE_PASSWORD=your-database-password

MYSQL_ROOT_PASSWORD=your-mysql-root-password
MYSQL_DATABASE=your-database-name

JWT_SECRET_KEY=your-super-secret-key-your-super-secret-key

JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000